[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
scipy = "*"
keras = "*"
pandas = "*"
scikit-learn = "*"
spyder = "==3.3.6"
xlrd = "*"
pyprind = "*"
pydot = "*"
graphviz = "*"
tensorflow-gpu = "==2.0.0"
scikit-image = "*"

[requires]
python_version = "3.7"
